@use "../common/mixin";
@use "../common/variables";

.card{
    padding-bottom: 20px;
    &:not(:nth-child(3n)){
        padding-right: 2em;
    }
    &:hover{
        transform: scale(1.02);
    }
  
      figure {
        border: 1px solid $gray-l1;
        margin: 0;
        line-height: 0;
        img {
            max-width: 100%;
            height: 382px;
            object-fit: fill;
            padding:3.5em 2em;      
        }
      }
      
    .product-details{
    padding-top: 8px;
        
        .product-title{
            font: normal normal bold 18px/20px Muli;
            color: $black;
            display: block;

        }
        .product-price{
            margin-top: 5px;
            font: normal normal 600 16px/20px Muli;
            color: $black;

        }
        .fav_icon{
            margin-top:17px;
            width: 24px;
            height: 20px;        
            color: $black;
            border-color:$gray-d2 0% 0% no-repeat padding-box;
        }
    }
 
}   
