@use "../common/mixin";
@use "../common/variables";

.cart_heading{
    padding: 33px 0 40px 0;
    text-align: center;
button{
    background-color: blue;
    width: 102px;
    height: 8px;
    border: none;
}
    h1{
        font: normal normal 600 48px/45px Source Serif Pro;
        color: $black;
        padding-bottom: 10px;
    }
}
.cartLeft{
    padding-right: 32px;
}
.receviewed_Prod{
    padding-top: 64px;
    .cart_heading{
       padding-bottom: 33px;
    }
    .slider{
        padding-bottom: 128px;
    }
}
.empty_card{
    text-align: center;
    color: red;
    font: normal normal 600 20px/24px muli;
}
.emptyCard_message{
    padding-top: 16px;
    text-align: center; 
    font: normal normal 600 20px/24px muli;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}