@use "../common/mixin";
@use "../common/variables";

.filter_aside{
    padding-top: 24px;
    .filter_container{
        padding-right: 46px;
            h5{
                font-size: $font-size-20;
                color: $gray-d2;
                line-height: 14px;
                font-family: $font-family-muli;
            }
            h6{

                padding: 16px 0;
                font-size: $font-size-16;
                color: $gray-d2;
                line-height: 24px;
                font-family: $font-family-muli;
            }
            a{
                font-size: $font-size-14;
                color: $gray-d2;
                line-height: 24px;
                text-decoration: underline;
                font-family: $font-family-muli;
            }
            .checkbox{  
                margin-bottom: 12px;
                input{
                    width: 24px;
                    height: 24px;
                    border: 2px solid $gray-m1;
                  
                }
            label{
                margin-left: 0;
                font-family: $font-family-muli;
            }}
        .attribute{    
                padding-bottom: 32px;
                border-bottom: 2px solid $gray-l1;
            }
        .color{
                padding-bottom: 32px;
                border-bottom: 2px solid $gray-l1;
                    .filter_color{ 
                        display: flex;
                        flex-wrap: wrap;
                    .color_box{
                        min-width: 64px;
                        height: 40px;
                        border-radius: 6px;
                        margin: 17px 3px 0 0;
                        }
                        .linear{
                            background: transparent linear-gradient(180deg, #AF52FF 0%, #7950E8 16%, #4F5ADA 29%, #57CB76 43%, #EBC250 56%, #FF8810 69%, #E32F0F 83%, #BF1919 100%) 0% 0% no-repeat padding-box;
                        }
                  
            }
           
    }
            
         }
}
  

 


 

 

