@use "../common/mixin";
@use "../common/variables";

footer{


.footer-top{
    padding: 44px 0;


        .submenu__heading{
            font: normal normal 600 16px/24px Muli;
            color: $black;
            padding-bottom: $font-size-16;
        }
        a,p{
            font: normal normal normal 16px/24px Muli;
              color: $grey-dark;
              padding-bottom:8px;
        }
        p{
            max-width: 100%;
        }
        .social_link{
            display: flex;

            img{
          
                font-size: 25px;
                width: 20px;
                height: 20px;
                margin-right: 26px;
            }
          
        }
        
        
    }
    .footer-bottom{
    
        padding: 24px 0;
      
    figure{ 
       
            img{ 
                width:7rem;
                object-fit:cover;
                //  vertical-align: middle;
                 height: 20px;
            }
        }
    .copyright{
            text-align: center;
            font-size: $font-size-14;
            line-height: $line-spacing-17-5;
            color: $grey-dark;
            font-family: $font-family-muli;
        }
    .left-nav{
            ul{
                display: flex;
                justify-content: space-between;
            }
            li a{
                font: normal normal normal 14px/18px Proxima Nova;
                line-height: $line-spacing-17-5;
                color: $black;
                text-decoration: underline;

            }
        }
       
    }
   
}
   
    
