@use "../common/mixin";
@use "../common/variables";
@use "../common//typography";

.category_row{

 align-items: center;
.left_category{
    a{@include font-two;}
    padding: 13px 0 11px 0;
}
.total_result{
    @include font;
    padding: 13px 0 11px 0;
    
}

}
.mobileview_filterheader{
    display: none;
    .filtergheader_top{
        ul{
            display: flex;
            justify-content: center;
            li{
                padding: 32px 16px;
                text-decoration: underline;
                font: normal normal 600 16px/20px Muli;
                color: $gray-d2;
                img{
                   width: 16px;
                   height: 16px;
                   margin-right: 8px;
                   vertical-align: middle;
                }
                .arrow_img{
                    width: 12px;
                    height: 12px;
                    vertical-align: middle;
                     margin: -2px;
                     padding:0;
            }
            }
            
        }
       
    }
    .total_result{
        text-align: center;
        font: normal normal normal 16px/24px Muli;
        color: $black;
    }
}