@use "../common/mixin";
@use "../common/variables";

.single_cartItem{
    padding-right: 100px;
    margin-bottom:33px ;

 .singlecart_left{
    figure{
        img{
            height:12rem;
        
          }
    }
   
   
 }
 .singlecart_middle{
  
   strong{
   
    font: normal normal 600 20px/25px Muli;
    color: $black;
   }
   p{
    padding-top: 8px;
    font: normal normal normal 16px/24px Muli;
    color: $black;
   }
  
   
 }
 .singlecart_right{
.center{
    display: flex;
    align-items: center;
    padding: 25% 0;
    button{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: $white;
        border: 2px solid $gray-l2;
        color:  $gray-l2;
    }
 input{
    width: 88px;
    height: 40px;
    border: 2px solid $gray-l2;
    background: $white;
    border-radius: 8px;
    text-align: center;
    margin: 0 8px;
 }

}
   

 }
 

 .singleCart_action{
    padding-top: 34px;
    button{
    background: none;
    color: $black;
    font: normal normal 600 12px/14px Muli;
    border: none
    
    }
    a{
        color: $black;
        font: normal normal 600 12px/14px Muli; 
    }
    img{
        vertical-align: middle;
        width: 14px;
        height: 17px;
        margin-right: 8px;

    }
}
}