@use "../common/mixin";
@use "../common/variables";
@use "../common//typography";
.sort_dropdown{
    select{ 
        // height: 44px;
        padding: 10px;
        border-radius: 7px;
        border-color:$gray-l2 ;       
        @include font-two;
    
        option{
            @include font-two;
    
        }
    }

}
 

