@use  "./variables";
@mixin font{
    font-size: $font-size-16;
    font-weight:$font-weight-600;
    line-height:$line-spacing-20; 
    color: $black;
    font-family: $font-family-muli;
  }
  @mixin font-two{
    font-size: $font-size-16;
    font-weight: $font-style-normal;
    line-height:$line-spacing-24 ; 
    color: $black;
    font-family: $font-family-muli;
  }
  @mixin font-three{
    font-size: $font-size-36;
    font-weight: $font-weight-600;
    line-height:$line-spacing-45 ; 
    color: $black;
   font-family: $font-family-source-serif-pro;
   
  }
  @mixin font-four{
    font-size: $font-size-20;
    font-weight: $font-weight-600;
    line-height:$line-spacing-30 ; 
    color: $black;
    font-family: $font-family-muli;
  }
  @mixin filterBox {
    width: 64px;
    height: 40px;
    margin-right: 15px;  
    border-radius: 6px;    
  }
  @mixin mainHeading{
    font-size: $font-size-48;
    font-weight:$font-weight-600;
    font-family: $font-family-source-serif-pro;
  
  }