

//color
$primary-d1: #172BC4;
$primary-m1: #336DFF;
$primary-brand: #1F39FF;
$primary-l1: #3D84FF;
$gray-d2: #181C24;
$gray-d1: #535965;
$gray-m1: #91959C;
$gray-l2: #B5B7BC;
$gray-l1: #E5E5E7;
$white: #FFFFFF;
$positive-2: #12805C;
$positive-1: #268E6C;
$negative-2: #C9252D;
$negative-1: #D7373F;
$black: #172026;
$black-light : #1B252C;
$grey-dark:#545D63;
$border-color:#D1D3D6;
// font
$font-family-muli: Muli;
$font-family-source-serif-pro: Source Serif Pro;
$font-style-normal: normal;
$font-style-italic: italic;
$font-weight-600: 600px;
$font-weight-normal: normal;
$font-weight-bold: bold;

$font-size-8:8px;
$font-size-12:12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-36: 36px;
$font-size-48: 48px;
$character-spacing-0: 0px;
$line-spacing-20: 20px;
$line-spacing-21: 21px;
$line-spacing-24: 24px;
$line-spacing-25: 25px;
$line-spacing-30: 30px;
$line-spacing-32: 32px;
$line-spacing-45: 45px;
$line-spacing-60: 60px;
$line-spacing-17-5: 17.5px;




